doctype html
html
  head
    meta(charset='utf-8')
    title regles
    link(rel='stylesheet', href='css/master.css', media='screen', title='no title')
    link(rel='stylesheet', href='css/intro.css', media='screen', title='no title')
    script(type='text/javascript', src='js/regles.js')
  body
    .jeux
      img(src='image/start/rules.jpg', alt='')
      ul#navigation
        li
          a(href='/') Page d'acceuil
        li
          a(href='/connect') Se connecter
