
ol, ul {
    list-style: outside none none;
}
a, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a, li {
    background: grey none repeat scroll 0 0;
    color: #fff;
}
section, ul {
    width: 100%;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: medium none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
    background-color: black;
}
blockquote, q {
    quotes: none;
}
blockquote::after, blockquote::before, q::after, q::before {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.div{
  position:relative;
  float: left;
  margin-top: 3px;
  margin-left: 3px;
}
.couper{
  overflow: hidden;
}
.intro{
  width: 100%;
  height: 100%;
}
.petite{
  height: 624px;
  top: 180px;
}
.index1{
  z-index: -1;
}
.index2{
  z-index: -2;
}
.zindex2{
  z-index: 2;
}
.zindex1{
  z-index: 1;
}
.image{
  position: absolute;
}
.point{
  height: 725px;
  width: 427px;
  left: 1500px;
}
.padding{
  padding: 12px;
}
.pointInt{
  /*transform: scale(0.75);*/
  overflow: hidden;
  margin-top: 163px;
  height: 440px;
  width: 208px;
}
.point4{
  left: -788px;
  top: -385px;
  z-index: -1;
}
.point6{
	left: -580px;
	top: -385px;
}
.heure{
	width: 250px;
	height: 308px;
}
.horloge{
  position: absolute;
	top: -545px;
	left: -20px;
}
.a1{
  left: -269px;
  top: -847px;
}
.ah1{
  width: 134px;
  height: 95px;
  top: 121px;
  left: 79px;
}
.a2{
  left: -286px;
  top: -714px;
}
.ah2{
  width: 99px;
  height: 132px;
  top: 121px;
  left: 79px;
}
.a3{
  left: -287px;
  top: -550px;
}
.ah3{
  width: 70px;
  height: 148px;
  top: 121px;
  left: 79px;
}
.a4{
  left: -440px;
  top: -682px;
}
.ah4{
  width: 98px;
  height: 133px;
  top: 121px;
  left: 53px;
}
.a5{
  left: -415px;
  top: -573px;
}
.ah5{
  width: 130px;
  height: 102px;
  top: 121px;
  left: 20px;
}
.a6{
  left: -397px;
  top: -494px;
}
.ah6{
  width: 148px;
  height: 71px;
  top: 122px;
  left: 1px;
}
.a7{
  left: -406px;
  top: -387px;
}
.ah7{
  width: 131px;
  height: 100px;
  top: 92px;
  left: 19px;
}
#jeux{
  width: 2328px;
  height: 100%;
}
.background{
  filter: blur(3px);
  left: -350px;
  height: 100%;
  z-index: -3;
  top:0;
}
.grandeCarte{
  top: 0;
  left: 0;
  z-index: 5;
}
.positionJoueur{
  top: 50px;
	width: 126px;
	height: 533px;
}
.position{
  transform: scale(0.6);
  left: -450px;
  position: relative;
}
.lieu{
  position: absolute;
  left: -130px;
}
.objet{
  position: absolute;
  left: -261px;
}
.centre{
  width: 126px;
  height: 1280px;
}
.carte{
  position: relative;
}
.avatar{
  width: 2000px;
  height: 717px;
}
.avatarVoyant{
  width: 100%;
  height: 240px;
}
.voyant{
	width: 307px;
	height: 152px;
}
.etuit{
  margin-top: 40px;
	width: 131px;
	height: 119px;
  position: relative;
}
#joueurMauve{
  left: -463px;
}
#joueurJaune{
  left: -463px;
  top: -122px;
}
#joueurBleu{
  left: -463px;
  top: -245px;
}
#joueurNoir{
  left: -595px;
}
#joueurRouge{
  left: -595px;
  top: -122px;
}
#joueurBlanc{
  left: -595px;
  top: -245px;
}
/*point*/
.pointCouleurDiv{
  margin-top: 163px;
  height: 980px;
  width: 980px;
  left: -555px;
  top: -275px;
}
.pointImage{
  left: 490px;
  height: 40px;
  width: 44px;
}
.nbPoint0{
  transform: rotate(39deg);
}
.nbPoint1{
  transform: rotate(46deg);
}
.nbPoint2{
  transform: rotate(52deg);
}
.nbPoint3{
  transform: rotate(58deg);
}
.nbPoint4{
  transform: rotate(64deg);
}
.nbPoint5{
  transform: rotate(71deg);
}
.nbPoint6{
  transform: rotate(77deg);
}
.nbPoint7{
  transform: rotate(85deg);
}
.nbPoint8{
  transform: rotate(95deg);
}
.nbPoint9{
  transform: rotate(102deg);
}
.nbPoint10{
  transform: rotate(112deg);
}
.nbPoint11{
  transform: rotate(121deg);
}
.nbPoint12{
  transform: rotate(127deg);
}
.nbPoint13{
  transform: rotate(134deg);
}
#pointJoueurUn{
  top: 200px;
  background-image: url('../image/pion/mauve.jpg');
}
#pointJoueurDeux{
  top: 160px;
  background-image: url('../image/pion/jaune.jpg');
}
#pointJoueurTrois{
  top: 120px;
  background-image: url('../image/pion/bleu.jpg');
}
#pointJoueurQuatre{
  top: 80px;
  background-image: url('../image/pion/noir.jpg');
}
#pointJoueurCinq{
  top: 40px;
  background-image: url('../image/pion/rouge.jpg');
}
#pointJoueurSix{
  background-image: url('../image/pion/blanc.jpg');
}
.blanc{
  left: -730px;
  top: 0;
  z-index: 2;
}
.rouge{
  left: -777px;
  top: 0;
  z-index: 2;
}
.noir{
  left: -729px;
  top: -52px;
  z-index: 2;
}
.bleu{
  left: -784px;
  top: -52px;
  z-index: 2;
}
.mauve{
  left: -728px;
  top: -101px;
  z-index: 2;
}
.jaune{
  left: -782px;
  top: -102px;
  z-index: 2;
}
.blancintuition{
  position: relative;
  z-index: 2;
	width: 45px;
	height: 41px;
}
.rougeintuition{
  position: relative;
  z-index: 2;
	width: 45px;
	height: 41px;
}
.noirintuition{
  position: relative;
  z-index: 2;
	width: 45px;
	height: 41px;
}
.bleuintuition{
  position: relative;
  z-index: 2;
	width: 45px;
	height: 41px;
}
.mauveintuition{
  position: relative;
  z-index: 2;
	width: 45px;
	height: 41px;
}
.jauneintuition{
  position: relative;
  z-index: 2;
	width: 45px;
	height: 41px;
}
.okblanc{
  background: url('../image/pion/pion blanc ok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.okrouge{
  background: url('../image/pion/pion rouge ok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;

}
.oknoir{
  background: url('../image/pion/pion noir ok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.okbleu{
  background: url('../image/pion/pion bleu ok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.okmauve{
  background: url('../image/pion/pion mauve ok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.okjaune{
  background: url('../image/pion/pion jaune ok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.nokblanc{
  background: url('../image/pion/pion blanc nok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.nokrouge{
  background: url('../image/pion/pion rouge nok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.noknoir{
  background: url('../image/pion/pion noir nok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.nokbleu{
  background: url('../image/pion/pion bleu nok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.nokmauve{
  background: url('../image/pion/pion mauve nok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.nokjaune{
  background: url('../image/pion/pion jaune nok.png') no-repeat 0 0;
  top: 30px;
  width: 21px;
  height: 30px;
  position: relative;
  z-index: 3;
}
.intuitionblanc{
  width: 21px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 24px;
  z-index: 3;
}
.intuitionrouge{
  transform: rotate(60deg);
  width: 21px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 24px;
  z-index: 3;
}
.intuitionnoir{
  transform: rotate(120deg);
  width: 21px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 24px;
  z-index: 3;
}
.intuitionbleu{
  transform: rotate(180deg);
  width: 21px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 24px;
  z-index: 3;
}
.intuitionmauve{
  transform: rotate(-120deg);
  width: 21px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 24px;
  z-index: 3;
}
.intuitionjaune{
  transform: rotate(-60deg);
  width: 21px;
  height: 60px;
  position: absolute;
  top: -2px;
  left: 24px;
  z-index: 3;
}
.intuition{
  transform: rotate(0deg);
  position: relative;
  float: left;
  margin: 3px;
}
